*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.DS_Store
bin
gen
/local.properties
.settings
.ant-targets-build.xml
*/**.iml
*.iml
*.iws
workspace.xml
tasks.xml
.gradle
out
build
com_crashlytics_export_strings.xml

# User-specific configurations
.idea

# OS-specific files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.bitrise*
qq